@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,input,select,button,textarea
{
    font-family: 'Libre Franklin', sans-serif;
}

html,body
{
    width: 100vw;
    height: 100vh;

    overflow-x: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

ul,li
{
    list-style: none;
}

a
{
    text-decoration: none;
}

.container
{
    width: 1440px;
    height: 800px;

    text-align: center;
}

.container h2
{
    margin-top: 25px;

    font-size: 45px;
    font-weight: 300;

    color: hsl(0, 0%, 59%);
}

.container h2 strong
{
    color: hsl(209, 33%, 12%);
}

.container p
{
    margin-top: 15px;

    font-size: 20px;
    font-weight: 300;

    color: hsl(209, 33%, 12%);
}

.container .form
{
    margin-top: 35px;

    display: flex;
    justify-content: center;
    
}

.container .form input
{
    width: 380px;
    height: 50px;

    padding-left: 20px;

    font-size: 16px;
    font-weight: 300;

    color:hsl(209, 33%, 12%);

    border: 1px solid hsl(220, 8%, 77%);
    border-radius: 30px;

    outline: none;
}


::-webkit-input-placeholder 
{
    color: hsl(220, 8%, 77%);
}

.container .form button
{
    width: 180px;
    height: 50px;

    background: hsl(223, 87%, 63%);

    margin-left: 15px;

    font-size: 16px;

    color: white;

    border: 1px solid hsl(223, 87%, 63%);
    border-radius: 30px;

    cursor: pointer;

    text-align: center;

    transition: 0.3s;
}

.container .form button:hover
{
    background: white;

    color: hsl(223, 87%, 63%);

    border: 1px solid hsl(223, 87%, 63%);
}

.container #bg
{
    width: 600px;

    margin-top: 80px;
}

.container .socials
{
    margin-top: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container .socials li
{
    width: 30px;
    height: 30px;

    background: white;  

    margin-left: 10px;
    margin-right: 10px;

    border: 1px solid hsl(220, 8%, 77%);
    border-radius: 50%;

    color: hsl(223, 87%, 63%);

    cursor: pointer;

    transition: 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container .socials li:hover
{
    background: hsl(223, 87%, 63%);

    color: white;

    border: none;
}

.container #footer
{
    margin-top: 20px;

    font-size: 16px;

    color: hsl(0, 0%, 59%);
}

@media(max-width: 581px)
{
    .container .form
    {
        display: block;
    }

    .container #bg
    {
        width: 450px;
    }

    .container .form button
    {
        width: 380px;
        height: 50px;

        margin-top: 15px;
    }
}